#client-settings section.content .tab[data-tab="modules"] .settings-list {
    max-height: calc(100vh - 185px);
}

#client-settings.tidy-ui section.content .tab[data-tab="modules"] .settings-list {
    max-height: calc(100vh - 230px);
}

#client-settings #mps-view-group {
    border-bottom: 1px solid #C0C0C0;
    padding: 4px;
    flex: 0 0 32px;
}

#client-settings #mps-view-group > label {
    flex: 0 0 220px;
    padding-top: 4px;
    padding-left: 10px;
}

#client-settings #mps-view-group > div > select {
    width: 100%;
}

#client-settings .overwrite-warning {
    background: rgba(105, 0, 8, 0.6);
    border: 1px solid #750003;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 4px;
    margin: 0px 16px !important;
}

.differences-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #808080;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
}

.differences-list .changes-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.differences-list .changes-list > li:not(:last-child) {
    border-bottom: 1px solid #C0C0C0;
}

.differences-list .module-name {
    background-color: #333;
    color: #fff;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.differences-list .setting-changes {
    padding: 4px;
}

.differences-list .setting-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px dotted #C0C0C0;
    padding: 4px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    flex: 0 0 200px;
}

.differences-list .setting-oldvalue {
    position: relative;
    padding: 4px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
}

.differences-list .setting-newvalue {
    padding: 4px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
}

.differences-list .setting-direction {
    flex: 0 0 10px;
    opacity: 0.5;
    padding-top: 4px;
}

.differences-list .setting-oldvalue.active span,
.differences-list .setting-newvalue.active span {
    border-radius: 4px;
    border: 1px solid var(--color-border-highlight-alt);
    border-bottom: 1px solid var(--color-border-highlight);
    box-shadow: 0 0 10px var(--color-shadow-highlight);
    color: var(--color-text-light-highlight);
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
}

#player-settings-resetignore {
    display: none !important;
}

#client-settings.package-configuration .window-content > div {
    height: calc(100% - 36px);
}